

body {

  background-color: #212b2e;
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;

}
.fixed-bg {
  background-image: url("../img/arduino_raspberry.jpg");
  min-height: 200px; 
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed-bg-index {
  background-image: url("../img/water_drop_plant_rotated.jpg");
  min-height: 200px; 
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar {
  background-color: #1f1f1f;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

#a1:hover, #a2:hover, #a3:hover {
  color: #16a085;
}

.text_decor { /*herbIO decor*/
  color: #16a085;
}

.hidden {  /*hidden pages*/
  display: none;
}

.filter-green:hover {
  filter: invert(42%) sepia(88%) saturate(394%) hue-rotate(118deg) brightness(101%) contrast(92%);
}

button {
  background-color: #16a085; /* Green */
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #0a3a30; /* Green */
  color: white;
}

.center-img {
  width: 80%;
  display: block;
  margin: auto;
  transition: .5s ease;
}

.center-img:hover  {
  opacity: 0.6;
}

section{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  /* display: block; */
  
}

.center-txt{
  text-align: center;
}

section h1{
  text-align: center;
}

.avatar {
  /* display: block; */
  margin: 15px 50px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  width: 80%;
  max-width: 250px;
  height: auto;
  padding: 10px;
}

.picture{
  margin: 20px 30px;
  border-radius: 10%;
  border: 5px solid #c39139;
  width: 100%;
  max-width: 450px;
  /* height: auto; */
  padding: 5px;
}
.left{
  float:left;
}
.right{
  float:right;
}
.container_member {
  clear: both;
  /* display: block; */
  padding: 20px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  /* height:auto; */
  
}

/* Style the footer */
footer {
  clear:both;
  background-color: #1f1f1f;
  padding: 10px;
  text-align: center;
  color: white;
}


